h1 {
    margin-left: 2rem;
}

.cardList {
    display: flex;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: scroll;
    margin-bottom: 2rem;

    article {
        padding: 1rem;

        h3{
            margin: 0 0 1rem 0;
            font-size: 1rem;
            padding-left: 0.5rem;

            a {
                color: rgb(255, 255, 255);
                text-decoration: none;
            }
        }
    }
}

.poster {
    opacity: 50%;
    transform: scale(0.95);
}

.poster:hover {
    opacity: 100%;
    transform: scale(1.0);
    object-fit: cover;
}

.overview{
    opacity: 100%;
    color: white;
}


