[data-theme="light"]{
    --text-color: black;
    --background-color: rgb(165, 163, 163);
}
  
[data-theme="dark"]{
    --text-color: #fcfcfc;
    --background-color: #2e2828;
}

.app {
    color: var(--text-color);
    background-color: var(--background-color);
}

.body::-webkit-scrollbar {
    display: none;
}

.body {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none;  /* mozilla */
    overflow-x: hidden;
}

