.header {
    background: linear-gradient(360deg,#224e4d 10%,#083023 360%);
}

.header nav ul {
    display: flex;
    list-style: none;
}

.header nav ul li {
    margin: 0 0.25rem;
    padding: 1rem;
}

.header nav ul li a {
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

.header nav ul li a:hover {
    color: red;
}