.logOut{
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;

    .user__avatar {
        width: 1.3rem;
        height: 1.3rem;
        padding-right: 1rem;
        color: white;
    }
}

.logOut:hover{
    color: grey;
    border-bottom: 1px solid grey;
}