.card {
    // display: flex;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 10px;
    // width: 10rem;

    .link {
        text-decoration: none;
        color: white;

        .cardimage {
            margin: 0 auto;
            display: block;
            opacity: 50%;
            transform: scale(0.95);
        }

        .cardimage:hover {
            opacity: 100%;
            transform: scale(1.0);
            object-fit: cover;
        }

        .cardtitle {
            margin-bottom: 0.5rem;
            font-size: 1rem;
        }
    }
}

  

  
